// <div class="side-layout">
//   <side-menu class=""></side-menu>
//   <main class="main-content">
//     <router-outlet></router-outlet>
//   </main>
// </div>

.side-layout {
  display: flex;
  height: 100vh;
}

side-menu {
  width: fit-content;
  min-width: 250px;
  height: 100%;
}
main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}