<aside class="aside-content">
  <!-- Header -->
  <header class="title-app">
    <h1 class="title">Conectify</h1>
  </header>
  <!-- Nav Menu -->
  <nav class="menu-list">
    <ul class="items-list">
      <li class="item" *ngFor="let item of items">
        <ng-container *ngIf="!item.children; else parent">
          <button class="btn-item" [ngClass]="{ active: item.active }">
            {{ item.title }}
            <i [ngClass]="item.icon"></i>
          </button>
        </ng-container>
        <ng-template #parent>
          <div class="parent-title">
            <span class="title-list">{{ item.title }}</span>
            <hr class="divisor" />
          </div>
          <ul class="items-list">
            <li class="item" *ngFor="let child of item.children">
              <button
                class="btn-item children"
                [ngClass]="{ active: child.active }"
              >
                {{ child.title }}
                <i [ngClass]="child.icon"></i>
              </button>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>
  </nav>
</aside>
